:root {
  --primary-color: #F7F7ED;
  --secondary-color:#1E3C60;
  --primary-background-color: #F7F7ED;
  --sub-background-color:#31343D;
  --font-background-color:#94CCCD;
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --default-line-height: 1.5;
  --default-padding: 0.5rem;
  --default-margin: 0.5rem;
  --default-border-radius: 10px;
}

body {
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
  font-family: var(--default-font-family);
  color: var(--sub-background-color);
  display: inline-block;
  text-align: justify;
}

h1,
h2 {
  color: var(--sub-background-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
  line-height: var(--default-line-height);
  margin-bottom: calc(2*var(--default-margin));
}

.header-name {
  width:100%;
  background-color: var(--font-background-color);
  /* padding: var(--padding) var(--padding) var(--padding) calc(3*var(--padding)); */
  padding: 1rem 1rem 1rem 5rem;
  margin: calc(2*var(--default-margin)) var(--default-margin);
  border-radius: var(--default-border-radius);
}

.top-page-nav,
.contact-me-links {
  bottom: 5px;
  display:flex;
  justify-content: space-evenly;
}

/* .nav-bout-me-btn {
  max-width: 20%;
} */

/* .nav-work-btn {
  flex:4;
}

.nav-contact-me-btn {
  flex:9;
}

.nav-resume-btn {
  flex:5;
} */

ul {
  margin: calc(5*var(--default-margin)) calc(5*var(--default-margin));
}

li {
  list-style: none;
  color:var(--font-background-color);
  border-bottom: 2px solid var(--font-background-color);
}

a {
  font-family: var(--default-font-family);
  color: var(--font-background-color);
  text-decoration: none;
}

main,
article,
.top-page-nav,
.nav-about-me,
.nav-contact-me,
.nav-work,
.project-images,
.nav-contact-me,
.contact-me-section,
.contact-me-links {
  padding: var(--default-padding);
  margin: var(--default-margin);
}

/* .main-project img, .sub-projects img  */
li,
.main-project,
.sub-projects { 
  margin: var(--default-margin);
}

.top-nav-bar {
  display:flex;
  justify-content: space-between;
  background-color: var(--sub-background-color);
}

.nav-about-me h1,
.nav-about-me pre,
.nav-work,
.nav-contact-me,
.nav-contact-me h1,
.nav-contact-me pre {
  align-self: flex-end;
}

.nav-about-me,
.nav-work,
.nav-contact-me {
  border-right: solid;
  border-width: 5px;
  border-color: var(--font-background-color);
}

figure {
  position:relative;
}

  figure > img {
    width: 100%;
    height: 15vh;
  }

main {
  display:flex;
  flex-direction: column;
}

#about-me {
  flex:2;
  display:flex;
  flex-direction: row;
}
    .nav-about-me {
      flex:2;
      display:flex;
      flex-direction:column;
    }

    article {
      flex:5;
    }

#work {
  flex:5;
  display:flex;
  flex-direction:row;
}

  .nav-work {
    flex:2;
    text-align: right;
    height:100vh;
  }

  .project-images {
    flex:5;
    display: flex;
    flex-direction: column;
  }

    .main-project {
      flex:3;
    }

      .main-project img {
        width: 100%;
      }
    
    .sub-projects {
      flex:2;
      display:flex;
      flex-wrap: wrap;
      width:100%;
      height:100vh;
    }
      
      .sub-projects div {
        flex:1;
        width:100%;
      }
      
      div img {
        width:100%;
      } 

    .main-project img,
    .sub-projects img {
      border-style: solid;
      border-width: 5px;
      border-color: var(--font-background-color);
    }
  

#contact-me {
  flex:1;
  display:flex;
  flex-direction: row;
}

  .nav-contact-me {
    flex:2;
    display: flex;
    flex-direction: column;
  }

  .contact-me-section {
    flex:5;
  }

.subtitle {
  position: absolute;
  bottom:10px;
  right:10px;
  max-width:30%;
  max-height: 3rem;
  background-color: var(--font-background-color);
  padding: var(--default-padding);
  margin: var(--default-margin) var(--default-margin);
  border-radius: var(--default-border-radius);
}

@media screen and (max-width: 1020px) {
  .top-nav-bar {
    flex-direction: row;
  }
}

@media screen and (max-width: 780px) {

  :root {
    --default-padding: 0.3rem;
    --default-padding: 0.3rem;
  }
  .top-nav-bar {
    flex-direction: column;
  }

  #work {
    flex-direction: column;
    align-self: center;
  }

  .nav-work {
    align-self: center;
  }

  .nav-work {
    border-right-style: none;
    border-bottom: solid;
    border-width: 5px;
    border-bottom-color: var(--font-background-color);
  }

  .header-name {
    width: 50%;
  }

  .sub-projects {
    flex-direction: column;
  }

  .subtitle {
    max-width: 65%;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --default-padding: 0.1rem;
    --default-padding: 0.1rem;
  }

  .top-nav-bar,
  .top-page-nav,
  .contact-me-links {
    flex-direction: column;
  }

  .header-name {
    width: 50%;
  }

  #about-me,
  #contact-me {
    flex-direction: column;
    align-self: center;
  }

  .nav-about-me,
  .nav-contact-me {
    flex-direction: row;
    align-self: center;
  }

  .nav-about-me,
  .nav-work,
  .nav-contact-me {
    border-right: none ;
    border-bottom: solid;
    border-width: 5px;
    border-color: var(--font-background-color);
  }

  .subtitle {
    max-width: 80%;
  }
  
}
