:root {
  --primary-color: #F7F7ED;
  --secondary-color:#1E3C60;
  --primary-background-color: #F7F7ED;
  --sub-background-color:#31343D;
  --font-background-color:#94CCCD;
  --font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --default-line-height: 1.5;
  --default-padding: 0.5rem;
  --default-margin: 0.5rem;
  --default-border-radius: 10px;
}

body {
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
  font-family: var(--font-family);
  display: inline-block;
}

h1,
h2 {
  color: var(--sub-background-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  line-height: var(--default-line-height);
  margin-bottom: calc(2*var(--default-margin));
}

header {
  height:15vh;
  display:flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--sub-background-color);
}

.header-name {
  width:100%;
  background-color: var(--font-background-color);
  /* padding: var(--padding) var(--padding) var(--padding) calc(3*var(--padding)); */
  padding: 1rem 1rem 1rem 5rem;
  margin: calc(2*var(--default-margin)) var(--default-margin);
  border-radius: var(--default-border-radius);
}

nav {
  
}

ul {
  margin: calc(5*var(--default-margin)) calc(5*var(--default-margin));
}

li {
  list-style: none;
  display: inline;
  color:var(--font-background-color);
  border-bottom: 2px solid var(--font-background-color);
}

li,
main,
article,
.about-me,
.work,
.contact-me,
footer,
footer a {
  padding: var(--default-padding);
  margin: var(--default-margin);
}

.section-work-1,
.section-work-2,
.section-work-1 img,
.section-work-2 img {
  margin: var(--default-margin);
}

main {
  height:70vh;
  display:flex;
  flex-direction: row;
  
}

.section-main {
  flex:5;
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
}

article {
  flex:1;
}

.section-work-1 {
  flex:3;
}

.section-work-2 {
  flex:2;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  height:100vh;
}

.section-work-1 img {
  width: 100%;
}

.section-work-2 div {
  box-sizing: border-box;
  flex:1 0 50%;
  height: 50vh;
}

 div img {
  width: 100%;
  height: 50vh;
} 

.section-work-1 img,
.section-work-2 img {
  border-style: solid;
  border-width: 5px;
  border-color: var(--font-background-color);
}

footer {
  flex:1;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  height:100vh;
  flex:2;
  display:flex;
  flex-direction:column;
}

.about-me h1,
.about-me pre,
.work,
.contact-me,
.contact-me h1,
.contact-me pre {
  align-self: flex-end;
}

.about-me {
  flex:1;
  display:flex;
  flex-direction: column;
}

.work {
  flex:3;
}

.contact-me {
  flex:2;
  display:flex;
  flex-direction: column;
}

.about-me,
.work,
.contact-me {
  border-right: solid;
  border-width: 5px;
  border-right-color: var(--font-background-color);
}

figure {
  height:15vh;
  position:relative;
}

figure > img {
  width: 100%;
  height: 15vh;
}

.subtitle {
  position: absolute;
  bottom:10px;
  right:10px;
  width:20%;
  background-color: var(--font-background-color);
  padding: var(--default-padding);
  margin: var(--default-margin) var(--default-margin);
  border-radius: var(--default-border-radius);
}

p {

}

@media screen and (min-width: 480px) {
  
}

@media screen and (min-width: 780px) {
  
}

@media screen and (min-width: 1020px) {
  
}